extends ../../layouts/default

block content
    .container
        h1 Swisscom SMS Flow
        +flash-messages(messages)
    #swisscom-sms-flow-content.container
        block swisscom-sms-flow-content
