extends ../../../layouts/video

block content
    .container

        .alert.alert-success
            p.h4 Thanks for your order
            br
            h2 Swisscom Toaster X9
            p.lead more of what you're looking for in a toaster
            br
            h4 Your toaster will be shipped to you shortly.
            br
            | Have fun!
            br

        .btn-group
            a.btn.btn-default(href="./") Close
