extends ../../../layouts/video

block content
    .container.container-sm
        .product
        .product-description
           
            br
            .row
                h2 Mit vielen neuen Funktionen, die Du Dir auf einem Smartphone wünschst
            .row
                h4 Modern Phone X9
            .row
                a.btn.btn-primary(href="/demo/register/manual") JETZT KAUFEN