//- //score/index.jade
extends ../../../layouts/demo

extends ../../../layouts/demo

block content
	.container.container-sm
		.well
			h4 Übereinstimmung der Daten prüfen.
			br
			.row
				.col-md-3
					.btn-group.btn-group-justified.mb10
						a.btn.btn-primary(href="/demo/score/score") Prozess Starten				
			.row
				br
			.row
				.col-md-3
					.btn-group.btn-group-justified
						a.btn.btn-default(href="/demo") Cancel

