//- //score/index.jade
extends ../../../layouts/demo

block content
    .container.container-sm
            .well
            h4 Score Resultat
            label Vorname:
            input.form-control(name="name", value=firstname, type="text", readonly)