//- //score/index.jade
extends ../../../layouts/demo

block content
    .container.container-sm
            .well
            h4 RESULTAT
            label eingegebener name
            input.form-control(name="name", value= test, type="text", readonly)