//- //score/index.jade
extends ../../../layouts/demo

block content
    .container.container-sm
            .well
            h4 Score Resultat
            label nummer:
            input.form-control(name="name", value=score.msisdn.score, type="text", readonly)