extends ../../../layouts/demo

block content
	.container

		.alert.alert-success
			p.h4 Herzlichen Glückwunsch!
				br
				br
				| Sie nutzen jetzt die Premium-Version von iApp. Ab sofort können Sie auf alle Funktionen zurückgreifen.
				br
				br
				| Wir wünschen Ihnen viel Spass!
				br

		.btn-group
			a.btn.btn-default(href="./") Cancel
			a.btn.btn-primary(href="/demo/register") Premium-Version
