extends ../../layouts/default

block content
    .container
        h1 Header Enrichment Flow
        +flash-messages(messages)
    #header-enrichment-content.container
        block header-enrichment-content
