extends ../../../layouts/demo

block content
	.container
		.well
			.row
				h4 Ihr Roaming Profil.
			form.row
				.form-group
					label= status.msisdn
				.form-group
					label Country
					input.form-control(name="country", value= status.roaming, type="text", readonly)
				.form-group
					a.btn.btn-default(href="./") Cancel