mixin score-form(userInfo,address)
	.well
		h4= hint
		br
		form.row(method="POST",novalidate="novalidate",data-parsley-error-class="has-error", data-parsley-success-class="has-success")
			if userInfo		
				.form-group.col-xs-12.col-md-12
						input.form-control(type="text" name= "msisdn" value= msisdn placeholder="Phone Number", required)
						span.help-block= requiredText
				.form-group.col-xs-12.col-md-6
					input.form-control(type="text" name= "firstname" value= firstname placeholder="First Name")
					
				.form-group.col-xs-12.col-md-6
					input.form-control(type="text" name= "lastname" value= lastname placeholder="Family Name")
				
				if address  
					.form-group.col-xs-12.col-md-6
						input.form-control(type="text" name= "street" value= street placeholder="Address")
								
					.form-group.col-xs-6.col-md-6
						input.form-control(type="text" name= "city" value= city placeholder= "City")
						
				
			.form-group.col-xs-12.col-md-12
			.btn-group.pull-right
				a.btn.btn-default(href="./") Cancel
				button.btn.btn-success(type="submit")= nextButton
